<h4 class="subtitle">{{model.subtitle}}</h4>
<div class="form" style="width:300px; margin-left:50px;">
  <div class="form-group">
    <label>仪器名称</label>
    <input class="form-control" type="text" placeholder="仪器名称" ng-model="model.app.name">
  </div>
  <div class="form-group">
    <label>仪器型号</label>
    <input class="form-control" type="text" placeholder="仪器型号" ng-model="model.app.type">
  </div>
  <div class="form-group">
    <label>采购日期</label>
    <input class="form-control" type="text" placeholder="日期格式：2014/03/12" ng-model="model.app.cdate">
  </div>
  <div class="form-group">
    <label>当前状态</label>
    <select class="form-control" ng-model="model.app.state">
      <option>正常</option>
      <option>维修</option>
      <option>停用</option>
      <option>报废</option>
    </select>
  </div>
  <div class="form-group">
    <label>备注信息</label>
    <textarea class="form-control" rows="5"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-default" ng-click="action.submit()">提交</button>
    <button class="btn btn-default" ng-click="action.back()">返回</button>
  </div>
</div>