<h4 class="subtitle">仪器分配</h4>
<div class="form" style="width:300px; margin-left:50px;">
  <div class="form-group">
    <label class="ui-mb-middle ui-mt-middle">基本信息</label>
    <p>编号：{{model.app.id}}</p>
    <p>名称：{{model.app.name}}</p>
    <p>型号：{{model.app.type}}</p>
    <p>登记时间：{{model.app.cdate}}</p>
    <p>更新时间：{{model.app.udate}}</p>
    <p>状态：{{model.app.state}}</p>
  </div>
  <div class="form-group">
    <label class="ui-mb-middle ui-mt-middle">使用人员</label>
    <input type="text" class="form-control" placeholder="负责人姓名" ng-model="model.app.user">
  </div>
  <div class="form-group">
    <button class="btn btn-default" ng-click="action.submit()">提交</button>
    <button class="btn btn-default" ng-click="action.back()">返回</button>
  </div>
</div>