<div class="form form-inline">
  <input class="form-control" type="text" placeholder="编号" ng-model="model.keys.id">
  <input class="form-control" type="text" placeholder="名称" ng-model="model.keys.name">
  <button class="btn btn-primary" type="button" ng-click="action.search()">搜索</button>
  <button class="btn btn-warning" type="button" ng-click="action.create()">新增数据</button>
</div>
<table class="table table-bordered table-hover ui-mt-middle">
  <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>测量仪器</th>
      <th>仪器类型</th>
      <th>录入日期</th>
      <th>更新日期</th>
      <th>录入人</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in model.list">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.app}}</td>
      <td>{{item.type}}</td>
      <td>{{item.cdate}}</td>
      <td>{{item.udate}}</td>
      <td>{{item.admin}}</td>
      <td>
        <button class="btn btn-default" ng-click="action.view(item.id)">查看</button>
        <button class="btn btn-default" ng-click="action.edit(item.id)">编辑</button>
        <button class="btn btn-default" ng-click="action.dele(item.id)">删除</button>
      </td>
    </tr>
  </tbody>
</table>
<pagination previous-text="上一页" next-text="下一页" page="model.page.page" total-items="model.page.total"></pagination>