<div class="form form-inline">
  <input class="form-control" type="text" placeholder="帐号" ng-model="model.keys.count">
  <input class="form-control" type="text" placeholder="姓名" ng-model="model.keys.name">
  <button class="btn btn-primary" type="button" ng-click="action.search()">搜索</button>
  <button class="btn btn-warning" type="button" ng-click="action.create()">新增用户</button>
</div>
<table class="table table-bordered table-hover ui-mt-middle">
  <thead>
    <tr>
      <th>帐号</th>
      <th>姓名</th>
      <th>性别</th>
      <th>电话</th>
      <th>角色</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in model.list">
      <td>{{user.count}}</td>
      <td>{{user.name}}</td>
      <td>{{user.sex}}</td>
      <td>{{user.tel}}</td>
      <td>{{user.auth}}</td>
      <td>{{user.date}}</td>
      <td>
        <button class="btn btn-default" ng-click="action.edit(user.count)">编辑</button>
        <button class="btn btn-default" ng-click="action.auth(user.count)">权限</button>
        <button class="btn btn-default" ng-click="action.dele(user.count)">删除</button>
      </td>
    </tr>
  </tbody>
</table>
<pagination previous-text="上一页" next-text="下一页" page="model.page.page" total-items="model.page.total"></pagination>