  <h4 class="subtitle">{{model.subtitle}}</h4>
  <div class="form" style="width:300px; margin-left:50px;">
    <div class="form-group">
      <label>姓名</label>
      <input class="form-control" type="text" placeholder="姓名" ng-model="model.user.name">
    </div>
    <div class="form-group">
      <label>性别</label>
      <input class="form-control" type="text" placeholder="性别" ng-model="model.user.sex">
    </div>
    <div class="form-group">
      <label>电话</label>
      <input class="form-control" type="text" placeholder="电话" ng-model="model.user.tel">
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="action.submit()">提交</button>
      <button class="btn btn-default" ng-click="action.back()">返回</button>
    </div>
  </div>
